<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Iris Species Classification</title>
    </head>
    <body style = "background:#000">
        <div class = "login">
            <h1 style = "color:violet;">Heart disease prediction</h1>
            <form action="{{url_for('predict')}}" method="POST">
                <label for="age">Age</label>
                <input type="number" id="age" name="age">
                <br>
                <label
        </div>

    </body>
</html>